<div class="explorer">
    <h1 class="explorer__title">File Explorer</h1>
    <app-explorer-form 
        [value]="searchText()"
        (pathSubmitted)="searchText.set($event)">
    </app-explorer-form>
    <app-breadcrumb 
        [breadcrumbs]="breadcrumbs()" 
        (pathSelected)="searchText.set($event)">
    </app-breadcrumb>
    <app-files 
        [files]="(files$ | async) || []"
        (pathSelected)="searchText.set($event)">
    </app-files>

    @if(errorMessage()) {
        <div class="explorer__error"><i>Ups... {{ errorMessage() }}</i></div>
    }
</div> 